
#container {
    height: 650px;
    width: 1200px;
    margin: 0 auto;
}

#board, #side {
    border: 1px solid black;
    float: left;
}

#board {
    height: 640px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#side {
    height: 640px;
    width: 300px;
}

.blacksquare, .whitesquare {
    display: flex;
    width: 100px;
    height: 80px;
}

.piece {
    position: relative;
    margin: auto;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1px;
    transform: translate(0, 0);
}
.blacksquare {
    background-color: #3355FF;
}

.whitesquare {
    background-color: cyan;
}