#container {
  height: 650px;
  width: 1200px;
  margin: 0 auto;
}

#board,
#side {
  border: 1px solid black;
  float: left;
}

#board {
  height: 640px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#side {
  height: 640px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blacksquare,
.whitesquare {
  display: flex;
  width: 80px;
  height: 80px;
}

.piece {
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1px;
  transform: translate(0, 0);
}
.blacksquare {
  background-color: #3355ff;
}

.whitesquare {
  background-color: cyan;
}

.greyCircle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: lightgrey;
  z-index: 1px;
  margin: auto;
}

.capturable {
  background-color: gold;
}

.incheck {
  background-color: red;
}

#promotion {
  position: absolute;
  height: 160px;
  width: 160px;
  background: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border: solid black 5px;
  border-radius: 5px;
}
#promoteOption {
  height: 80px;
  width: 80px;
}

#gameover {
  z-index: 3px;
  position: absolute;
  height: 180px;
  width: 350px;
  background: blue;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
  padding-top: 10px;
  display: grid;
  justify-content: center;
  color: white;
}

#refreshButton {
  background: black;
  color: white;
  height: 50px;
  width: 200px;
}

#timer {
  position: absolute;
  height: 300px;
  width: 300px;
}

#whitetimer,
#blacktimer {
  position: absolute;
  height: 120px;
  width: 300px;
}

#whitetimer {
  bottom: 0px;
  background: beige;
}

#blacktimer {
  background: rgb(58, 54, 54);
}